body{
    padding-top: 70px;
    background: white;
}

/* html{
    scroll-padding-top: 120px;
} */

#about,
#education,
#work-placement,
#skils-and-achievements,
#languages,
#contact-information,
#hobbies{
    scroll-margin-top: 40vh;
}

/* meybe I need to replace it, but !CHECK! when I put pictures here */
/* some of the sections wasn't in the centre of page when I clicked, I NEED TO check !!!! */
#projects{
    scroll-margin-top: 18vh;
}



/* changes for title page with hero container (! maybe I should put some pictures begind - check!!!) */
.hero-section{
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    padding: 3rem 0;
}

.hero-section h1{
    font-size: clamp(2.6rem, 4vw, 3.2rem);
    font-weight: 600;
}

.hero-section h3 {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.hero-section p.mb-1 {
    font-size: 1rem;
    max-width: 32rem;
}

.center-list{
    display: inline-block;
    text-align: left;
}


/* my nav bar tranparent colour */
.navbar-transparent{
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    transition: background 0.3s ease;
}


/* my buttons also transparent colour to mutch my nav bar */
/* !important to override default buttons, but I need to check stakoverlow again fo rbtter solution*/
.btn.project-btn {
    background: rgba(0, 0, 0, 0.6) !important;
    color: white !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    padding: 8px 16px;
    border-radius: 6px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    font-weight: 500;
    transition: all 0.2s ease;
}



.btn.project-btn:hover { 
    background: rgba(0, 0, 0, 0.8) !important;  
    border-color: rgba(255, 255, 255, 0.6) !important; 
    transform: translateY(-2px); 
}


.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.portfolio-img {
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.portfolio-img:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}

